<div class="container">
    <h4>Add Teacher Details : </h4>
    <table >
      <tr>
        <td>Enter teacher Name : </td>
        <td>
          <input type="text" [(ngModel)]="teacherName">
        </td>
      </tr>
      <tr>
        <td>Enter Subject : </td>
        <td>
          <select [(ngModel)]="subjectId">
              <option *ngFor="let sub of subjectList" [value]="sub.id" >
                {{sub.subjectName}}
              </option>
          </select>
        </td>
      </tr>
      <tr>
        <td></td>
        </tr>
      <tr>
        <td>
          <button class="btn btn-dark" (click)="submit(teacherName, subjectId)">Submit</button>
        </td>

        <td>
            <a class='btn btn-primary' (click)='onBack()' style='width:80px'>
                <i class='glyphicon glyphicon-chevron-left'></i> Back
              </a></td>
      </tr>
    </table>
  </div>