<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Shool Management</title>
</head>

<body>
  <header class="cl-header">
    <img src="../assets/schoolLogo.png" alt="logo" class="cl-logo" />
    <h3 class="cl-company-name">
      <b>{{schoolName}}</b>
    </h3>
    <nav class="cl-nav">
      <ul>
        <li>
          <a [routerLink]="['/batches']" title="courses">
            Home</a>
        </li>
        <li>
          <a [routerLink]="['/courses']" title="courses">
            Courses</a>
        </li>
        <li>
          <a [routerLink]="['/students']" title="students">
            Students
          </a>
        </li>
        <li>
          <a [routerLink]="['/subjects']" title="subjects">
            Subjects
          </a>
        </li>
        <li>
          <a [routerLink]="['teachers']" title="teachers">
            Teachers
          </a>
        </li>
      </ul>
    </nav>
  </header>
</body>

</html>
<router-outlet></router-outlet>