/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
*{
	font-family: 'Open Sans', sans-serif;
}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(41, 40, 40, 0.63);
    transition: 0.3s;
    text-align: center;
    margin: 6px 6px;
    background-color: rgb(218, 252, 247);
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
